/*
vars and color
 */
 :root {
    /* define the color pallet */
    /*--primary-color: #D1F7FF;*/
    --primary-color: #F95738;
    --secondary-color: #F4D35E;
    --accent-color: ##EE964B;
    --second-accent-color: #FAF0CA;
}



h1, h3 {
   background-color: black;
   font-weight: 400;
   font-size: larger;
}

h4 {
  
}

.city {
    background: url(./assets/pexels-lukas-kloeppel-466685.jpg) center;
    background-attachment: fixed;
    height: calc(100vh - 56px);
    color:coral; 
}

#about {
    background-color: var(--secondary-color);
}
#interface {
    background-color: var(--primary-color);
}
#observation {
    background-color: var(--secondary-color);
}
#personas {
    background-color: var(--primary-color);
}

#storyboard {
    background-color: var(--secondary-color);
}

* {
    box-sizing: border-box
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    background-color: #111111;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Caption text */
  .text {
    color: var(--primary-color);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }